body {
    background-color: #FAF9F6;
}

img {
    margin-right: 20px;
}

/* Center content div */
#contentContainer {
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    width: 800px;
    height: 100%;
    background: #fff;
}

/* Pushes subheading and button away from one another */
#NotificationHeading {
    display: flex;
    justify-content: space-around;
}

/* Remove default styles from button */
#markMessage {
    border: 0;
    background-color: transparent;
    color: #818589;
    cursor: pointer;
    font-weight: bold;
}

#NotificationNumber {
    /* Egyptian Blue */
    background-color: 	#1434A4;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
}

#markMessage {
    font-size: 16px;
}

/* Universal class to display all contact divs in a row */
.contact {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    margin-top: 25px;
    margin-bottom: 25px;
}

.resetNotification {
    background-color: blue;
}

.NotificationTime {
    color: red;
}

#chessClub {
    color: blue;
    font-weight: bolder;
}

#markNotification {
    color: darkslategrey;
    font-weight: bolder;
    font-size: 16px;
}

#Mark {
    background-color: #E5E4E2;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;

}

#Angela {
    background-color: #E5E4E2;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#Jacob {
    background-color: #E5E4E2;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* positions message from Rick to the right */
#messageFromRicky {
    background-color: #fff;
    color: darkslategrey;
    border: 1px solid lightgrey;
    font-size: 20px;
    width: 500px;
    margin-left: 88px;
    padding: 10px;
}

#Kimberly {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
}

#attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 0;
    background-color: #fff;
}

#attribution p {
    color: #000;
    font-size: 24px;
}

#attribution a {
    font-size: 24px;
    color: blue;
    text-decoration: none;
}

/* For tablet users */
@media only screen and (max-width: 934px) {
#attribution {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 950px;
        margin-left: 0 auto;
        margin-right: 0 auto;
    }
    #attribution p{
    color: #000;
    font-size: 20px;
    }
    #attribution a {
        font-size: 20px;
        color: blue;
        text-decoration: none;
    }
    #markMessage {
        font-size: 20px;
        color: #000;
    }
}

/* For mobile users */ 
@media only screen and (max-width: 480px) {
    #parentContainer {
        width: 1000px;
    }
    /* prevents scroll on mobile phone */
    #contentContainer {
        padding: 10;
    }
    #Notifications {
        font-size: 30px;
    }
    #markMessage {
        font-size: 22px;
        color: #000;
    }
    #markNotification {
        font-size: 22px;
    }
    #contacts p {
        font-size: 26px;
    }
    #messageFromRicky {
        color: #000;
    }
    #attribution {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 950px;
        margin-left: 0 auto;
        margin-right: 0 auto;
    }
    #attribution p{
    color: #000;
    font-size: 28px;
    }
    #attribution a {
        font-size: 28px;
        color: blue;
        text-decoration: none;
    }
}